<div class="row">
  <div class="col-md-6">
    <form ng-submit="eventsEdit.update()">

      <label for="name">Name</label>
      <input type="text" id="name" name="name" ng-model="eventsEdit.event.name">

      <label for="date">Date</label>
      <input type="date" id="date" name="date" ng-model="eventsEdit.event.date">

      <label for="location">Location</label>
      <input type="text" id="location" name="location" ng-model="eventsEdit.event.location">

      <label for="image">Image</label>
      <input type="text" id="image" name="image" ng-model="eventsEdit.event.image">

      <label for="fighter">Fighters</label>
      <input type="text" id="fighter" name="fighter" ng-model="eventsEdit.event.fighter">

      <label for="time">Time</label>
      <input type="number" id="time" name="time" ng-model="eventsEdit.event.time">

      <label for="winner">Winner</label>
      <input type="text" id="winner" name="winner" ng-model="eventsEdit.event.winner">



      <button>Update</button>
    </form>
  </div>
</div>

{{ eventsEdit.robot}}
