<div class="row">
  <div class="col-md-6">
    <form ng-submit="eventsNew.create()">

      <label for="name">Name</label>
      <input type="text" id="name" name="name" ng-model="eventsNew.event.name">

      <label for="date">Date</label>
      <input type="date" id="date" name="date" ng-model="eventsNew.event.date">

      <label for="location">Location</label>
      <input type="text" id="location" name="location" ng-model="eventsNew.event.location">

      <label for="image">Image</label>
      <input type="text" id="image" name="image" ng-model="eventsNew.event.image">

      <label for="fighter">Fighters</label>
      <input type="text" id="fighter" name="fighter" ng-model="eventsNew.event.fighter">

      <label for="time">Time</label>
      <input type="number" id="time" name="time" ng-model="eventsNew.event.time">

      <label for="winner">Winner</label>
      <input type="text" id="winner" name="winner" ng-model="eventsNew.event.winner">



      <button>Create</button>
    </form>
  </div>
</div>

<div class="divEasy androidEasy">
    <div class="headEasy">
        <div class="l_antEasy"></div>
        <div class="r_antEasy"></div>
        <div class="l_eyeEasy"></div>
        <div class="r_eyeEasy"></div>
    </div>
    <div class="bodyEasy">
        <div class="l_armEasy"></div>
        <div class="r_armEasy"></div>
        <div class="l_legEasy"></div>
        <div class="r_legEasy"></div>
    </div>
</div>

{{ eventsNew.robot}}
