<div class="row">
  <div class="col-md-6">
    <div class="event">
      <h2>{{ eventsShow.event.name }}</h2>
      <h2>{{ eventsShow.event.date }}</h2>
      <h2>{{ eventsShow.event.location }}</h2>
      <img ng-src="{{ eventsShow.event.image }}">
      <h4>{{ eventsShow.event.fighter }}</h4>
      <h4>{{ eventsShow.event.time }}</h4>
      <h4>{{ eventsShow.event.winner }}</h4>
      <p>Created by: </p>
      <h4>{{ eventsShow.event.user.nickname }}</h4>

      <button ui-sref="eventsEdit({id: eventsShow.event.id})" ng-if="main.currentUser.id === eventsShow.event.user.id">Edit</button>
      <button ng-click="eventsShow.delete() " ng-if="main.isAuthenticated() && main.currentUser.id === eventsShow.event.user.id">Delete</button>
      <!-- login after delete -->
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="attendees">
    <h5>Attending</h5>

    <ul>
      <li ng-repeat=" attendee in eventsShow.event.attendees"> {{ attendee.name}}hey hey </li>
    </ul>

  </div>
</div>
<button ng-click="eventsShow.toggleAttending()" ng-if="main.isAuthenticated() && !eventsShow.isAttending()"> Attend </button>
<button ng-click="eventsShow.toggleAttending()" ng-if="main.isAuthenticated() && eventsShow.isAttending()"> Reject </button>   <!-- Not going to work , because always Authenticated -->

<button ng-click="eventsShow.toggleAttending()">Attend</button>
