<div class="row">
  <div class="col-md-6">
    <form ng-submit="robotsEdit.update()">

      <label for="name">Name</label>
      <input type="text" id="name" name="name" ng-model="robotsEdit.robot.name">

      <label for="image">Image</label>
      <input type="text" id="image" name="image" ng-model="robotsEdit.robot.image">

      <label for="skill">skill</label>
      <input type="text" id="skill" name="skill" ng-model="robotsEdit.robot.skill">

      <label for="demo">Demo</label>
      <input type="text" id="demo" name="demo" ng-model="robotsEdit.robot.demo">

      <label for="improvement">improvement</label>
      <input type="text" id="improvement" name="improvement" ng-model="robotsEdit.robot.improvement">

      <button>Edit</button>
    </form>
  </div>
</div>
