<ul class="row robotsIndexPage">
  <li ng-repeat="robot in robotsIndex.all" class="col-md-6">
    <div class="robotDiv">   <!-- for the css I guess -->

      <img class="robotsImage thumbnail" ng-src="{{ robot.image }}">
      <h2>{{ robot.name }}</h2>
      <h3>{{ robot.skill }}</h3>
      <h3>{{ robot.demo }}</h3>
      <h3>{{ robot.improvement }}</h3>
      <p>Created by: <strong>{{ robot.user.nickname }}</strong></p>
      <button class="indexButton" ui-sref="robotsShow({id: robot.id})">View</button>
    </div>
  </li>
</ul>
