<div class="row">
  <div class="col-md-6">
    <form ng-submit="robotsNew.create()">

      <label for="name">Name</label>
      <input type="text" id="name" name="name" ng-model="robotsNew.robot.name">

      <label for="image">Image</label>
      <input type="text" id="image" name="image" ng-model="robotsNew.robot.image">

      <label for="skill">skill</label>
      <input type="text" id="skill" name="skill" ng-model="robotsNew.robot.skill">

      <label for="demo">Demo</label>
      <input type="text" id="demo" name="demo" ng-model="robotsNew.robot.demo">

      <label for="location">improvement</label>
      <input type="text" id="location" name="location" ng-model="robotsNew.robot.improvement">

      <button>Create</button>
    </form>
  </div>
</div>

{{ robotsNew.robot}}
