<div class="row">
  <div class="col-md-6">
    <div class="users">
      <h2>{{ robotsShow.robot.name }}</h2>
      <img ng-src="{{ robotsShow.robot.image }}">
      <h4>{{ robotsShow.robot.skill }}</h4>
      <h4>{{ robotsShow.robot.demo }}</h4>
      <h4>{{ robotsShow.robot.improvement }}</h4>
      <p>Created by: </p>
      <h4>{{ robotsShow.robot.user.nickname }}</h4>

      <button ui-sref="robotsEdit({id: robotsShow.robot.id})" ng-if="main.currentUser.id === robotsShow.robot.id">Edit</button>
      <button ng-click="robotsShow.delete() " ng-if="main.isAuthenticated() && main.currentUser.id === robotsShow.robot.id">Delete</button>
      <!-- login after delete -->
    </div>
  </div>
</div>
