
  <div class="mainShowDiv">
    <h2>{{ robotsShow.robot.name }}</h2>
    <img class="showPageImage" ng-src="{{ robotsShow.robot.image }}">
    <ul class="robotShowPage">


      <h5>What the robot's skill</h5>
      <h4>{{ robotsShow.robot.skill }}</h4>
      <h5>small description</h5>
      <h4>{{ robotsShow.robot.demo }}</h4>
      <h5>What have you done to make it better?</h5>
      <h4>{{ robotsShow.robot.improvement }}</h4>
      <h5>The Maker is</h5>
      <h4>{{ robotsShow.robot.user.nickname }}</h4>

      <button class="showPageButton" ui-sref="robotsEdit({id: robotsShow.robot.id})" ng-if="main.currentUser.id === robotsShow.robot.user.id">Edit</button>
      <button class="showPageButton" ng-click="robotsShow.delete() " ng-if="main.isAuthenticated() && main.currentUser.id === robotsShow.robot.user.id">Delete</button>
      <!-- login after delete -->
    </ul>
  </div>

  <div class="mainShowExtra">
    <h3>Media</h3>
      <iframe src="https://www.youtube.com/embed/3wrDwbBNVwQ" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="mainShowExtra">
    <h3>Media</h3>
      <iframe  src="https://www.youtube.com/embed/C-HVPTDXNZ8" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="mainShowExtra">
    <h3>Media</h3>
      <iframe src="https://www.youtube.com/embed/N_xTvZCvuQ4" frameborder="0" allowfullscreen></iframe>
  </div>
