<div class="row">
  <div class="col-md-6">
    <form ng-submit="usersEdit.update()">

      <label for="name">Nickname</label>
      <input type="text"  name="name" ng-model="usersEdit.user.nickname">

      <label for="name">Avatar</label>
      <input type="text"  name="image" ng-model="usersEdit.user.photo">

      <label for="name">First name</label>
      <input type="text" id="first" name="name" ng-model="usersEdit.user.firstname">

      <label for="name">Last name</label>
      <input type="text" id="last" name="name" ng-model="usersEdit.user.lastname">

      <label for="date">Motto</label>
      <input type="date" id="date" name="date" ng-model="usersEdit.user.motto">

      <label for="location">Special skill</label>
      <input type="text" id="location" name="location" ng-model="usersEdit.user.skill">

      <label for="location">Victories</label>
      <input type="text" id="location" name="location" ng-model="usersEdit.user.victory">

      <label for="location">Lose</label>
      <input type="text" id="location" name="location" ng-model="usersEdit.user.lose">

      <label for="location">Email</label>
      <input type="text" id="location" name="location" ng-model="usersEdit.user.email">

      <label for="location">Password</label>
      <input type="text" id="location" name="location" ng-model="usersEdit.user.password">

      <label for="location">Password confirmation</label>
      <input type="text" id="location" name="location" ng-model="usersEdit.user.password_confirmation">



      <button>Update</button>
    </form>
  </div>
</div>
