<div class="row">
  <div class="col-md-6">
    <div class="users">
      <h2>{{ usersShow.user.nickname }}</h2>
      <img ng-src="{{ usersShow.user.photo }}">
      <h4>{{ usersShow.user.firstname }}</h4>
      <h4>{{ usersShow.user.lastname }}</h4>
      <h4>{{ usersShow.user.motto }}</h4>
      <h4>{{ usersShow.user.skill }}</h4>
      <h4>{{ usersShow.user.victory }}</h4>
      <h4>{{ usersShow.user.lose }}</h4>
      {{usersShow.user.id}}
      <button ui-sref="usersEdit({id: usersShow.user.id})" ng-if="main.currentUser.id === usersShow.user.id">Edit</button>
      <button ng-click="usersShow.delete() " ng-if="main.isAuthenticated() && main.currentUser.id === usersShow.user.id">Delete</button>
      <!-- login after delete -->
    </div>
  </div>
</div>
