<ul class="row arenaIndexPage ">
  <li ng-repeat="arena in arenasIndex.all" class="col-md-6">
     <div class="arena">
       <img class="arenaImage img-rounded" ng-src="{{ arena.image }}"> <!-- for scss I guess  -->
      <h2>{{ arena.name }}</h2>
      <h3>{{ arena.location }}</h3>
      <h4>{{ arena.event }}</h4>

      <p>{{ arena.intro }}</p>
      <p>Created by: <strong>{{ arena.user.nickname }}</strong></p>
      <button class="indexButtonArena" ui-sref="arenasShow({id: arena.id})">View</button>
    </div>
  </li>
</ul>
