<div class="row">
  <div class="col-md-6">
    <form ng-submit="arenasNew.create()">

      <label for="name">Name</label>
      <input type="text" id="name" name="name" ng-model="arenasNew.arena.name">

      <label for="location">Location</label>
      <input type="text" id="location" name="date" ng-model="arenasNew.arena.location">

      <label for="event">Event</label>
      <input type="text" id="event" name="location" ng-model="arenasNew.arena.location">

      <label for="image">Image</label>
      <input type="text" id="image" name="image" ng-model="arenasNew.arena.image">

      <label for="intro">Intro</label>
      <input type="text" id="improvement" name="location" ng-model="arenasNew.arena.intro">




      <button>Create</button>
    </form>
  </div>
</div>
