<div class="row">
  <div class="col-md-6">
    <div class="arena">
      <h2>{{ arenasShow.arena.name }}</h2>
      <h2>{{ arenasShow.arena.location }}</h2>
      <h2>{{ arenasShow.arena.event }}</h2>
      <img ng-src="{{ arenasShow.arena.image }}">
      <h4>{{ arenasShow.arena.intro }}</h4>
      <p>Created by: </p>
      <h4>{{ arenasShow.arena.user.nickname }}</h4>

      <button ui-sref="arenasEdit({id: arenasShow.arena.id})" ng-if="main.currentUser.id === arenasShow.arena.user.id">Edit</button>
      <button ng-click="arenasShow.delete() " ng-if="main.isAuthenticated() && main.currentUser.id === arenasShow.arena.user.id">Delete</button>
      <!-- login after delete -->
    </div>
  </div>
</div>
