<div id="rPage" class="row">
  <div class="col-md-6">
    <form ng-submit="auth.register()">
      <div >
        <label>Nickname</label>
        <input class="inputRegister" type="text" ng-model="auth.user.nickname">
      </div>

      <div>
        <label>Avatar</label>
        <input class="inputRegister" type="text" ng-model="auth.user.photo">
      </div>

      <div>
        <label>First name</label>
        <input class="inputRegister" type="text" ng-model="auth.user.firstname">
      </div>

      <div>
        <label>Last name</label>
        <input class="inputRegister" type="text" ng-model="auth.user.lastname">
      </div>

      <div>
        <label>Motto</label>
        <input class="inputRegister" type="text" ng-model="auth.user.motto">
      </div>

      <div>
        <label>Special skill</label>
        <input class="inputRegister" type="text" ng-model="auth.user.skill">
      </div>

      <div>
        <label>Victories</label>
        <input class="inputRegister" type="text" ng-model="auth.user.victory">
      </div>

      <div>
        <label>Lose</label>
        <input class="inputRegister" type="text" ng-model="auth.user.lose">
      </div>

      <div>
        <label>Email</label>
        <input class="inputRegister" type="text" ng-model="auth.user.email">
      </div>

      <div>
        <label>Password</label>
        <input class="inputRegister"  ng-model="auth.user.password">
      </div>

      <div>
        <label>Password Confirmation</label>
        <input class="inputRegister"  ng-model="auth.user.password_confirmation">
      </div>

      <button id="registerButton">Register</button>
    </form>
  </div>
</div>
